/* ================Responsive Design Starts =============================*/
@media (max-width: 770px) {
  header,
  .main-hero-section,
  .common-section {
    padding: 0 5rem;
  }
  header nav {
    padding-top: 1rem;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  header nav .left-side-menu {
    width: 100%;
    display: block;
    order: 2;
  }
  header nav .left-side-menu img {
    display: block;
    width: 100%;
  }
  header .left-side-menu .sub-menu {
    width: 100%;
    display: block;
  }
  header nav .left-side-menu .sub-menu a {
    margin-right: 2rem;
  }
  header nav .left-side-menu .sub-menu a li {
    font-size: 1.7rem;
  }

  /* ==================================hero section Css style================== */
  .main-hero-section {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-flow: column;
  }
  .main-hero-section .hero-left-side {
    order: 2;
    width: 100%;
  }
  .main-hero-section .hero-left-side h1 {
    width: 35rem;
    font-size: 5rem;
    list-style: 6rem;
    margin-bottom: 2rem;
  }
  .main-hero-section .hero-left-side p {
    width: 35rem;
    font-size: 2rem;
    margin-bottom: 5rem;
  }
  .main-hero-section .hero-right-side {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: transparent;
  }
  .main-hero-section .hero-right-side img {
    width: 35rem;
    height: 35rem;
    margin: 0;
    margin-top: 4rem;
  }
}
